@model ByteBank.Forum.ViewModels.AccountLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()

    @Html.ActionLink("Esqueci minha senha.", "ForgotPassword")

    <input type="submit" value="Fazer Login" />
}