@model ByteBank.Forum.ViewModels.AccountPasswordChangeConfirmationViewModel
@{
    ViewBag.Title = "PasswordChangeConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PasswordChangeConfirmation</h2>

@using (Html.BeginForm("PasswordChangeConfirmation", "Account"))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()

    <input type="submit" value="Alterar Senha" />
}